.bg{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color:lightpink;
    width: 100%;
    height: 700px;
    
}
.titulo{
    font-size:250%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-shadow: 4px;
    text-justify: auto;
    margin: auto;
    background-color:powderblue; 
    border:5px solid rgb(0, 0, 0); 
    padding: 5px;
    border-style:dashed;
}
.foto{
    width: 200px;
    height: 220px;
    display:table-cell;
    float:left
}
.texto{
    float: left;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    width: 600px;
    margin-top: 0px;
    border: 4px solid rgb(0, 0, 0); 
    padding: 5px;
    background-color: lightskyblue;
}
.texto2{
    float:unset;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 21px;
    width: 600px;
    margin-top: 0px;
    border: 4px solid rgb(0, 0, 0); 
    padding: 5px;
    background-color: rgb(135, 250, 196);
    margin-left:200px ;
    
}
.seçao{
    width: 100px;
    height: 100px;    
}
.botão{
    background-color: coral
    
}
.botão{
    width: 200px;
    margin-top: auto;
}
.cabeção{
    border-top: 3px solid rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
    background-color: #333;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    color:deepskyblue
  }
.pezão{
  width:100%;
  height: 70px;
  background-color: #333;
}
.logo{
    width: 100px;
    height: 70px;
    top: 0;
    left: 0;
    display: unset;
    float: left;
}
